<div class="relative">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-three-dots absolute top-0 right-0 mr-2 mt-2" viewBox="0 0 16 16">
        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
    </svg>
</div>
<div class="flex">
    <div class="h-2 p-4 border border-gray rounded-full justify-center items-center ml-2" style="margin-top:30px">
        {% comment %} <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="white" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
          </svg> {% endcomment %}
          {% comment %} <img src="static/src/arrow.jpg" alt="arrow" /> {% endcomment %}
    </div>
    <div class="h-24 justify-center items-center pl-4">
        <p class="text-white text-4xl font-semibold text-center pt-4">1540</p>
        <p class="text-white text-center text-[12px]">Audience Growth</p>
    </div>
</div>