<div class="relative">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-three-dots absolute top-0 right-0 mr-2 mt-2" viewBox="0 0 16 16">
        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
    </svg>
</div>
<div class="flex">
    <div class="h-2 p-4 border border-black rounded-full justify-center items-center ml-2" style="margin-top:30px">
    </div>
    <div class="justify-center items-center pl-4">
        <p class="text-4xl font-semibold text-center pt-4">340</p>
        <p class=" text-center text-[12px] pt-1 pl-2">Followers By Data</p>
    </div>
    </div>