<div class="flex items-center mb-2">

    <div class="bg-black p-2  rounded h-2 ">
    </div>
    <p class="pl-4 font-semibold">Platform Value</p>
</div>
<p class="mb-4">Last 30 Days Campaign</p>
{% comment %} <img src="static/src/graph1.png" class="w-full" alt="gr"/> {% endcomment %}

<div class="relative mt-2">
    <div class="border-t-2 mb-[18px]">
        <p>$15000</p>

    </div>
    <div class="border-t-2 mb-[17px]">
        <p>$10000</p>

    </div>
    <div class="border-t-2 mb-[18px]">
        <p>$5000</p>

    </div>
    <div class="border-t-2 mb-[20px]">
        

    </div>

    <div class="flex absolute top-0 left-[160px] platformtik">
        <div class="flex mr-4 platformtik1">
            <div class="mt-[65px] platformtik1div">
                <div class="h-14 bg-blue-200 rounded-lg">
                    <p class="text-blue-200">dsd</p>
                </div>
                <img src="static/src/tik.png" class="mt-[-14px]"/>
            </div>
            <div class="platformtik2div">
                <p class="text-[10px] font-bold">$14,897</p>
                <img src="static/src/insta.png" />
            </div>
            <div class="mt-[85px] platformtik3div">
                <div class="h-10 bg-blue-200 rounded-lg">
                    <p class="text-blue-200">dsd</p>
                </div>
                <img src="static/src/face.png" class="mt-[-14px]"/>
            </div>
        </div>

        <div class="flex mr-4 tiksecond">
            <div class="mt-[65px] platformtik1div" >
                <div class="h-14 bg-blue-200 rounded-lg">
                    <p class="text-blue-200">dsd</p>
                </div>
                <img src="static/src/tik.png" class="mt-[-14px]"/>
            </div>
            <div class="platformtik2div">
                <p class="text-[10px] font-bold">$14,897</p>
                <img src="static/src/insta.png" />
            </div>
            <div class="mt-[85px] platformtik3div">
                <div class="h-10 bg-blue-200 rounded-lg">
                    <p class="text-blue-200">dsd</p>
                </div>
                <img src="static/src/face.png" class="mt-[-14px]"/>
            </div>
        </div>

        <div class="flex tiksecond">
            <div class="mt-[65px] platformtik1div">
                <div class="h-14 bg-blue-200 rounded-lg">
                    <p class="text-blue-200">dsd</p>
                </div>
                <img src="static/src/tik.png" class="mt-[-14px]"/>
            </div>
            <div class="platformtik2div">
                <p class="text-[10px] font-bold">$15,897</p>
                <img src="static/src/insta.png" class=""/>
            </div>
            <div class="mt-[85px] platformtik3div">
                <div class="h-10 bg-blue-200 rounded-lg">
                    <p class="text-blue-200">dsd</p>
                </div>
                <img src="static/src/face.png" class="mt-[-14px]"/>
            </div>
        </div>
    </div>
    <div class="flex pl-[180px] monthdiv">
        <p class="text-[10px] pr-16 month">November</p>
        <p class="text-[10px] pr-16 month">December</p>
        <p class="text-[10px]">January</p>
    </div>
    {% comment %} <img src="static/src/jan.png" class="absolute top-[-18px] right-[25px]" alt="d"/> {% endcomment %}
</div>
