<div class="flex items-center mb-2">

    <div class="bg-black p-2  rounded h-2 ">
    </div>
    <p class="pl-4 font-semibold">Sales Team Performance</p>
</div>
<div class="flex items-center mb-2">
    <div class="mr-4">
        <img src="static/src/person.png" class="w-6 h-6" alt="person"/>
    </div>
    <div class="flex w-full justify-between">
        <div>
            <p>John Brooklyn</p>
            <p class="text-gray-300">Sales Target Completion 60%</p>
        </div>
        <div>
            <img src="static/src/50.png" class="w-8 h-8" alt="50"/>
        </div>
    </div>
</div>

<div class="flex items-center mb-2">
    <div class="mr-4">
        <img src="static/src/person.png" class="w-6 h-6" alt="person"/>
    </div>
    <div class="flex w-full justify-between">
        <div>
            <p>William Harry</p>
            <p class="text-gray-300">Sales Target Completion 60%</p>
        </div>
        <div>
            <img src="static/src/50.png" class="w-8 h-8" alt="50"/>
        </div>
    </div>
</div>

<div class="flex items-center mb-2">
    <div class="mr-4">
        <img src="static/src/person.png" class="w-6 h-6" alt="person"/>
    </div>
    <div class="flex w-full justify-between">
        <div>
            <p>Samantha Andy</p>
            <p class="text-gray-300">Sales Target Completion 60%</p>
        </div>
        <div>
            <img src="static/src/50.png" class="w-8 h-8" alt="50"/>
        </div>
    </div>
</div>